/Bin/*
/Controls/*
/Demos/*
/Help/*
/Levels/*
/Mods/
/Players/*
/SaveGame/*
/Scripts/*
/Temp/*
/VirtualTrees/*
/Worlds/*
/*.*

!/.gitignore
!/Players/Player*.plr
!/Players/Player*.plr.guid
!/Scripts/PersistentSymbols.ini
!/Z_TFE_Laser_Sound.gro
