/Bin/*
/Controls/*
/Demos/*
/Help/*
/Levels/*
/Mods/
/Players/*
/SaveGame/*
/Scripts/*
/Temp/*
/VirtualTrees/*
/Worlds/*
/*.*

!/.gitignore
!/Data/ClassicsPatch/Config.ini
!/Players/Player*.plr
!/Players/Player*.plr.guid
!/Scripts/PersistentSymbols.ini
